.header {
  @include main.flex(space-between);

  width: 100%;
  height: 56px;

  padding: 0 16px;

  &__logoBox {
    @include main.flex;

    gap: 8px;

    &__logo {
      width: 15px;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__profileBox {
    @include main.flex;

    gap: 16px;

    &__button {
      @include main.flex;

      outline: none;
      cursor: pointer;

      padding: 6px 10px;

      border: 1px solid color.$color-white-300;
      border-radius: 4px;

      color: color.$color-white-600;
      background-color: color.$color-white-000;
    }

    &__userName {
      color: color.$color-white-600;
      font-weight: 400;
      font-size: 15px;
    }
  }
}